<div class="main-container">
  <!-- Filter Component (on the left) -->
  <div class="filter-section" [ngClass]="{'hidden': isFilterHidden}">
    <button class="close-button" (click)="toggleFilter()">×</button>
    <app-filter
      [filter]="['general','counterparties','countries', 'currencies', 'flowType', 'companies', 'tables']"
      (inFilterDisplayTableEvent)="AllByCountryAddDataToTableModal($event.flowDirection)"
      (inFilterVisualize)="AllByCountryOnVisualize($event)"
    ></app-filter>

  </div>

  <!-- Half-circle button to show filter when it's hidden -->
  <button
    class="show-filter-button"
    [ngClass]="{'visible': isFilterHidden}"
    (click)="toggleFilter()"
  >
    Open filter
  </button>

  <!-- Graph Component (on the right) -->
  <div class="graph-section" [ngClass]="{'expanded': isFilterHidden}">
    <app-external-graph-legend></app-external-graph-legend>
    <div class="graph-container">
      <ng-container *ngIf="graphData; else loadingTemplate">
        <app-sigma-graph
          *ngIf="graphData.nodes.length > 0; else noDataTemplate"
          [data]="graphData"
          (onNodeClick)="onNodeClick($event)"
        ></app-sigma-graph>
      </ng-container>
      <ng-template #loadingTemplate>
        <div class="loading-message">
          <h2>Loading graph</h2>
          <p>Please wait till the graph is initialized.</p>
        </div>
      </ng-template>
      <ng-template #noDataTemplate>
        <div class="no-data-message">
          <h2>No Data Available</h2>
          <p>There is no data to display in the graph.</p>
        </div>
      </ng-template>
    </div>
  </div>
  <!-- Table Modal Component -->
  <div
    *ngFor="let tableModal of openTables"
  >
    <app-flow-table
      [data]="tableModal.data"
      [flowDirection]="tableModal.flowDirection"
      (close)="AllByCountryHandleCloseTableModal(tableModal.id)"
    ></app-flow-table>
  </div>


</div>
