@import '@sebgroup/fonts/scss/seb-fonts.scss';

:host {
  display: block;
  height: 100%;
  width: 100%;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.graph-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.graph-section {
  width: 75%;
  padding: 10px;
  transition: width 0.3s ease-in-out;
}

.graph-section.expanded {
  width: 100%;
}

.filter-section {
  width: 25%;
  padding: 10px;
  background-color: #f5f5f5;
  margin-left: 0;
  padding-left: 0;
  border-right: 1px solid #dddddd;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transform: translateX(0);
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
}

.filter-section.hidden .filter-content {
  display: none;
}

.filter-section.hidden {
  width: 0;
  transform: translateX(-100%);
  display: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: gray;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  z-index: 1000;
  transition: color 0.3s ease-in-out;
}

.close-button:hover {
  color: #333;
}

.show-filter-button {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1000;
  background-color: #66cf69;
  color: #fff;
  border: none;
  padding: 20px;
  cursor: pointer;
  border-radius: 0 50% 50% 0;
  transform: translateY(-50%);
  display: none;
  writing-mode: vertical-rl;
  text-align: center;
  height: 15rem;
  width: 60px;
  font-family: "SEBSansSerif", sans-serif;
  font-weight: 400;
  font-size: 18px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.show-filter-button.visible {
  display: block;
}

.show-filter-button:hover {
  background-color: #155a9b;
  transform: translateY(-50%) scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.loading-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #555;
}

@media (max-width: 768px) {
  .filter-section {
    width: 50%;
  }

  .graph-section {
    width: 50%;
  }

  .show-filter-button {
    font-size: 16px;
    width: 50px;
    height: 80px;
  }

  .close-button {
    width: 35px;
    height: 35px;
    font-size: 24px;
  }
}
