.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
  width: 100%;
  position: sticky; /* Make the navbar sticky */
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000; /* Ensure it stays on top of other elements */
  box-sizing: border-box;
}


.navbar-brand h1 {
  margin: 0;
  font-size: 2rem;
  color: #fff;
}

.navbar-brand a {
  text-decoration: none;
  color: inherit;
}

.navbar-brand a:hover {
  cursor: pointer;
}

.navbar-toggler {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-item {
  margin: 0;
  padding: 0;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  position: relative;
  display: block;
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.nav-item a.active {
  color: #66cf69;
}

/* Adjust the hover line */
.nav-item a::after {
  content: '';
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: -0.5rem;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-item a:hover::after {
  transform: scaleX(1);
}


/* Mobile Styles */
@media (max-width: 768px) {
  .navbar-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000;
    padding: 1rem 0;
    box-sizing: border-box;
  }

  .navbar-nav.active {
    display: flex;
  }

  .navbar-toggler {
    display: flex;
  }

  .nav-item a {
    display: block;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
    width: 100%; /* Ensure the link fills the entire container on mobile */
    box-sizing: border-box;
  }

  .nav-item a:hover {
    background-color: #333;
  }
}
