@import '@sebgroup/fonts/scss/seb-fonts.scss';

* {
  font-family: 'SEBSansSerif', sans-serif;
}


/* Modal Styling */
.table-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 70vw;
  max-width: 900px;
  height: 55vh;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.table-content {
  padding: 10px;
  height: calc(100% - 60px);
  overflow-y: auto;
}

.close-table-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 18px;
  color: #888;
  cursor: pointer;
  z-index: 1001;
}

.close-table-button:hover {
  color: #333;
}

.table-wrapper {
  overflow-x: auto;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}


.data-table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  font-size: 12px;
}

.data-table th,
.data-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.data-table th {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.data-table tr:hover {
  background-color: #e3f2fd;
}

.no-data-message {
  text-align: center;
  color: #757575;
  font-style: italic;
  padding: 10px;
}

th {
  cursor: pointer;
  position: relative;
}

.sort-asc::after {
  content: '▲';
  position: absolute;
  right: 5px;
  font-size: 10px;
}

.sort-desc::after {
  content: '▼';
  position: absolute;
  right: 5px;
  font-size: 10px;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}


.pagination-controls span {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  user-select: none;
  text-align: center;
}

.pagination-controls span.active-page {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

@media (max-width: 600px) {
  .table-modal {
    width: 90vw;
    max-width: 95%;
  }

  .data-table {
    font-size: 10px;
  }
}
