spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: app_cashflow  # Use the test schema
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration/dev
    schemas: app_cashflow # Flyway will target the schema
